/* Styles for the mobile container */
*{
	margin: 0;
	padding: 0;
}

html, body, .ctn{
	height: 100%;
	width: 100%;
}

.ctn{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e7e7e7;
}

.ctn-img{
	height: 810px;
	width: 410px;
	background: url(../assets/ph-bg.png) no-repeat center;
	background-size: cover;
}

.ctn-inner{
	height: 630px;
	width: 372px;
	background: #fff;
	position: relative;
	top: 78px;
	left: 18px;
}

/* Styles for the animation */

button.lb{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  padding: 10px;
  background: white;
  font-size: 24px;
  border-radius: 5px;
}

button.lb:hover {
	cursor: pointer;
  background: black;
  color: white;
  border: 1px solid white;	
}

.ctn-anim{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ctn-anim-inner{
	height: 70%;
	width: 90%;
	opacity: 0;
	/*outline: 2px solid #f00;*/
}

.ctn-bike{
	transform: scale(.3);
	position: relative;
  top: -5%;
	height: 70%;
	width: 100%;
	margin: 0 auto;
	/*outline: 2px solid #f0f;*/
}

.ctn-bike img{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.ctn-logo{
	box-sizing: border-box;
	padding-top: 5%;
	text-align: center;
	position: relative;
	height: 30%;
	width: 100%;
	margin: 0 auto;
	/*outline: 2px solid #0f0;*/
}

.ctn-logo img{
	vertical-align: top;
}

.ctn-logo img.zipp{
	height: 80%;
}

.ctn-logo img.bike{
	height: 60%;
	margin-left: 5px;
}

.ctn-del{
	opacity: 0;
	text-align: right;
	position: relative;
	top: -8%;
	height: 8%;
	width: 100%;
	/*outline: 2px solid #ff0;	*/
}

.ctn-del img.del{
	height: 100%;
	margin-right: 5px;
}